body {
padding-top:20px;
}
#c1{

 background-color: #CCCCCC;
 margin-left:50px;
 margin-right:50px;
 width:400px;
 padding-left:20px;
  padding-top:20px;
  
}
#c2{

 background-color: #CCCCCC;
 margin-left:50px;
 margin-right:50px;
 width:400px;
 padding-left:20px;
  padding-top:20px;
  
}
#c3{

 background-color: #CCCCCC;
 margin-left:50px;
 margin-right:50px;
 width:400px;
 padding-left:20px;
  padding-top:20px;
  
}
