#titre {
	font-size: 40px; 
	text-align: center; 
	border:2px outset; 
	color:  white; 
	background-color: rgba(22, 122, 198, 1); 
	margin-top: 0.2%;
	}
	
#map { width: 1000px; height: 500px; margin-top: 5%; padding: 0;  border:3px outset; float: right;margin-right:5%; display:none;}

#question  {
	color:  #3a5795; 
	font-size: 20px;
	width: 500px; 
	height: 500px;
	border:3px inset;	
	margin-top: 5%;
	margin-left: 10%;
	float:left;
	margin-right: 50px;
	display: none;
	}
#connexion {
		margin-left: 40%;
		text-align: left; 
		width: 600px; 
		height: 100px;

}
#titre-connexion {
	
	margin-top: 15%;
	font-size: 25px; 
	color:  rgba(22, 122, 198, 1); 
	display:block;
	margin-left:40%;

}
#afficheNom{
	margin-top: 2%;
	font-size: 20px; 
	text-align: left; 
	color:  #3a5795; 
}


