#titre {
	font-size: 40px; 
	text-align: center; 
	border:2px outset; 
	color:  white; 
	background-color: rgba(22, 122, 198, 1); 
	margin-top: 1px;
	}
	
#map { width: 1000px; height: 500px; margin-top: 60px; padding: 0;  border:2px inset; float: right;margin-right:5%; display:none;}

#question  {
	color:  #3a5795; 
	font-size: 20px; 
	margin-top: 150px;
	margin-left: 150px;
	float:left;
	margin-right: 50px;
	display: none;
	}
#connexion {
		margin-left: 680px;
		margin-top: 10px;
		text-align: left; 
		width: 1000px; 
		height: 1000px;

}
#titre-connexion {
	
	margin-top: 210px;
	font-size: 25px; 
	text-align: center; 
	color:  rgba(22, 122, 198, 1); 
	display:block;

}
#afficheNom{
	font-size: 20px; 
	text-align: left; 
	color:  #3a5795; 
}


