html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background:#696969;
}

#map {
	height: 500px;
	width: 700px;
	margin-top: 25px;
	background-color: #CCC;
}
#header{
	text-align: center;
}
#container{
	display:inline-flex;	
	padding: 5px;
	border-radius: 10px;
}
#DatasMaker{
	margin-left:10px;
}
#header{
	background-color:#D3D3D3;
}
#left-menu {
	position:relative;
	float:left;
	width:220px;
	height:100%;
	background-color:#e6e6e6;
}
#myContent{ 
	position:relative;
	float:left;
	padding-left: 36px;
	color:#F8F8FF;
}
#links{
	margin: auto;
}