	#contenue{
			float:center;
			}
			#h1{
			background-color:#jhhgi;
			}
			.items{
				display:flex;	
				padding: 3px;
				
			}
			.paire{
				margin-top: 10px;
				margin-bottom: 10px;
				border:5px solid black;
			}
			.impaire{
				border:5px solid red;
			}
			.data{
				float:left;
				margin: 3px;
				color:#CC00FF;
				
			}
			.iTof{
				float:left;
			}
	body{
		background-image: url(http://localhost/THYP-1516/YannM75/img/background/grisTaupe1.jpg);
		background-color: #d0e4fe;
	}