div#titre {
	font-size: 25px; 
	text-align: center; 
	border:2px outset; 
	color:  white; 
	background-color: #3a5795; 
	margin-top: 2%;
	width: 717px; 
	}
	
div#bandeau {
	font-size: 30px; 
	text-align: left; 
	border:2px outset; 
	color:  white; 
	background-color: #3a5795; 
	margin-top: 1%;
	width: 800px; 
	}
	
div#map { width: 1000px; height: 500px; margin-top: 50px; margin-left: 350px; padding: 0;  border:2px inset;}

div#question {
	text-align: right; 
	color:  green; 
	}
div#img{
	margin-top: 150px;	
	margin-left: 350px;
	}